@import "tailwindcss";

canvas {
  height: 100% !important;
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}

.animate-twinkle {
  animation: twinkle 3s ease-in-out infinite;
}